<!DOCTYPE html>
<html>

<head>
    <title>Journal Entry</title>
    <script src="https://kit.fontawesome.com/8280005e5c.js" crossorigin="anonymous"></script>
    <link href="/static/css/style.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="text-white"><i class="fa-solid fa-book"></i></span>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-white">Create New Post</a></li>
            </ul>
    
            <div class="text-end">
                <span class="text-white">Daily Journal</span>
            </div>
          </div>
        </div>
    </header>

    <section id="consistency">
        <h3>CONSISTENCY</h3>
        <p class="inline">"Motivation gets you going, but discipline keeps you growing.</p>
        <p class="inline">Thats the law of consistency. It doesn't matter how talented you are. It doesn't</p>
        <p class="inline">matter how many opportunities you receive if you want to grow, consistency is key"</p>
        <p class="verse">"Jesus Christ is the same yesterday and today and forever" - Hebrews 13:8</p>
    </section>

    <section id="focus">
        <h3>FOCUS</h3>
        <p class="inline">We always tend to focus on the outcome of an event, when focusing on the process</p>
        <p class="inline">of what you have to do to get the outcome is the most important part.</p>
    </section>

    <div class="new-post-box">
        <input type="text" id="post-title" placeholder="Enter Post Title">
        <textarea id="post-content" placeholder="Enter Post Content"></textarea>
        <button id="submit-post">Submit</button>
    </div>
</body>

</html>
