<!DOCTYPE html>
<html>

<head>
    <title>Journal Entry</title>
    <link href="/static/css/bootstrap-grid.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <h1>Journal Entry</h1>
        <nav>
            <ul>
                <li><a href="#" id="create-post-link">Create New Post</a></li>
            </ul>
        </nav>
    </div>

    <section id="consistency">
        <h3>CONSISTENCY</h3>
        <p class="inline">"Motivation gets you going, but discipline keeps you growing.</p>
        <p class="inline">Thats the law of consistency. It doesn't matter how talented you are. It doesn't</p>
        <p class="inline">matter how many opportunities you receive if you want to grow, consistency is key"</p>
        <p class="verse">"Jesus Christ is the same yesterday and today and forever" - Hebrews 13:8</p>
    </section>

    <section id="focus">
        <h3>FOCUS</h3>
        <p class="inline">We always tend to focus on the outcome of an event, when focusing on the process</p>
        <p class="inline">of what you have to do to get the outcome is the most important part.</p>
    </section>

    <div class="new-post-box">
        <input type="text" id="post-title" placeholder="Enter Post Title">
        <textarea id="post-content" placeholder="Enter Post Content"></textarea>
        <button id="submit-post">Submit</button>
    </div>
</body>

</html>
